/*.conteudo{ 
    border: 2px solid red;
    padding: 10px 25px;
    margin-bottom: 15px;
    width: 80px;

}*/
.noticias{
    background: #f9f9f9;
    border: 1px gray solid;
    padding: 10px;
}
h2 {
   
    margin: 0px;
}